* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: burlywood;
}
header {
    padding: 20px;
    background-color: black;
    border-bottom:5px solid gray;
    color: white;
    
}
header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 18px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;

}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

footer h5 {
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.my-stuff {
    text-decoration: underline;
}
